<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My cooking site</title>
    <style>
      @import "https://unpkg.com/open-props";
      @import "https://unpkg.com/open-props/normalize.min.css";
      body {
        padding: var(--size-2) var(--size-4);
      }
      p {
        margin-bottom: var(--size-4);
      

      footer {
        text-align: center;
      }

      .copy-left {
        display: inline-block;
        transform: scaleX(-1);
      }
    </style>
    <script type="module" defer>
      const data = {{ graph | json }}
      import * as d3 from "https://cdn.skypack.dev/d3@7";
      import {ForceGraph} from '/graph.js';
      const chart = ForceGraph(data, {
        nodeId: d => d.id,
        nodeTitle: d => d.id,
        nodeRadius: 7,
        height: 680
      })
      document.body.append(chart)
    </script>
  </head>
  <body>
    {{ content }}

    <footer>
      2022 <span class="copy-left">©</span> Kristján Oddsson
    </footer>
  </body>
</html>
